<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Agenda</title>
<link href="common.css" rel="stylesheet">
</head>
<body>
<div>
	<h1>Agenda for Technology Day</h1><h2>RS Shanghai SGD 03 A302</h2>
	<table class="schedule-time">
		<caption>4 Sep 2014<br/>Target audience: All CDC members(including CWF and interns)</caption>
		<thead>
			<tr><th>Time</th><th>Schedule</th></tr>
		</thead>
		<tbody>
			<tr><th>09:00-09:30</th><td>Attendees sign in</td></tr>
			<tr><th>09:30-10:15</th><td>Knowledge sharing from MS Company.<br/>Topic: How to deploy & migrate & development applications on Microsoft Azure platform</td></tr>
			<tr><th>10:15-11:00</th><td>Knowledge sharing from MS Company.<br/>Topic: Microsoft mobile device & client management (Intune Azure mobile service & System Center) solution overview</td></tr>
			<tr><th>11:00-11:15</th><td>Tea break</td></tr>
			<tr><th>11:15-12:00</th><td>Knowledge sharing from MS Company.<br/>Topic: Introduction to Microsoft PowerBI capability on Office 365</td></tr>
			<tr><th>12:00-13:00</th><td>Lunch</td></tr>
			<tr><th>13:00-17:00</th><td>Knowledge sharing about Microsoft technology application in HP from MSC group memebers<br/>Tea break<br/>Lucky draw</td></tr>
		</tbody>
	</table>
	<table class="schedule-time">
		<caption>5 Sep 2014<br/>Target audience: All CDC members(including CWF and interns)</caption>
		<thead>
			<tr><th>Time</th><th>Schedule</th></tr>
		</thead>
		<tbody>
			<tr><th>09:00-09:30</th><td>Attendees sign in</td></tr>
			<tr><th>09:30-10:15</th><td>Knowledge sharing from MS Company.<br/>Topic: How to deploy & migrate & development applications on Microsoft Azure platform</td></tr>
			<tr><th>10:15-11:00</th><td>Knowledge sharing from MS Company.<br/>Topic: Microsoft mobile device & client management (Intune Azure mobile service & System Center) solution overview</td></tr>
			<tr><th>11:00-11:15</th><td>Tea break</td></tr>
			<tr><th>11:15-12:00</th><td>Knowledge sharing from MS Company.<br/>Topic: Introduction to Microsoft PowerBI capability on Office 365</td></tr>
			<tr><th>12:00-13:00</th><td>Lunch</td></tr>
			<tr><th>13:00-17:00</th><td>Knowledge sharing about Microsoft technology application in HP from MSC group memebers<br/>Tea break<br/>Lucky draw</td></tr>
		</tbody>
	</table>
</div>
</body>
</html>